# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# Eclipse/STS
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VSCode
.vscode/

# Output folders
build/
out/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
